%div{"data-role" => "content"}
  = form_for(@task) do |f|
    - if @task.errors.any?
      #error_explanation
        %h2
          = pluralize(@task.errors.count, "error")
          prohibited this task from being saved:
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :name
      %br
        = f.text_field :name
    .field
      = f.label :priority
      (1 is top priority)
      %br
        = f.select(:priority, options_for_select([1, 2, 3, 4, 5]))
    .actions
      = f.submit