<div data-role="header">
  <h1><%= current_user.name %>'s Tasks</h1>
</div>


<div data-role="content">
  <% @tasks.each do |task| %>
    <h1><%= task.name %></h1>
    <h1>Priority:  <%= task.priority %></h1>
    <%= link_to "Complete", task, method: :delete, "data-role" => "button", "data-inline" => "true" %>
    <%= link_to "Edit", edit_task_path(task), "data-role" => "button", "data-inline" => "true" %>
  <% end %>
</div>


<div data-role="footer">
  <%= link_to 'New Task', new_task_path %>
</div>
