%div{"data-role" => "header"}
  %h1= @task.name
%div{"data-role" => "content"}
  %p
    %h1= @task.name
    Priority:
    \#{@task.priority}
%div{"data-role" => "footer"}
  = link_to 'Back', tasks_path
  = link_to 'Complete', @task, method: :delete, data: { confirm: 'Is the task...truly complete?' }
  = link_to 'Edit', edit_task_path(@task)