<div data-role="content">
  <%= form_for(@to_do) do |f| %>
    <% if @to_do.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@to_do.errors.count, "error") %> prohibited this To-Do from being saved:</h2>

        <ul>
          <% @to_do.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_area :name %>
    </div>
    <div class="field">
      <%= f.label :priority %><br>
      <%= f.select(:priority, options_for_select([1, 2, 3, 4, 5])) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
