<div data-role="header">
  <h1>Your Quests for the Day</h1>
</div>


<div data-role="content">
  <ul data-role="listview">
    <% @to_dos.each do |to_do| %>
      <li>
        <h2><%= to_do.name %></h2>
        <h2>Priority: <%= to_do.priority %></h2>
        <%= link_to 'Edit', edit_to_do_path(to_do) %>
        <br>
        <button class="ui-btn ui-btn-inline"><%= link_to 'Complete', to_do, method: :delete, data: { confirm: 'Is the quest...truly complete?' } %></button>
      </li>
    <% end %>
  </ul>
</div>


<div data-role="footer">
  <%= link_to 'New To-Do', new_to_do_path %>
</div>
