<div data-role="header">
  <h1>The <%= @to_do.name %> Quest</h1>
</div>

<div data-role="content">
  <p id="notice"><%= notice %></p>
  
  <p>
    <h1><%= @to_do.name %></h1>
    Priority:
    <%= @to_do.priority %>
  </p>

</div>

<div data-role="footer">
  <%= link_to 'Back', to_dos_path %>
  <%= link_to 'Complete', @to_do, method: :delete, data: { confirm: 'Is the quest...truly complete?' } %>
	<%= link_to 'Edit', edit_to_do_path(@to_do) %>
</div>
